/*--- Global ---*/
:root {
  --main-black: #1c1c1c;

  --bc-lightblue: #edf2f8;

  --fc-red: rgb(97, 17, 17);

  --yellow: #FEE934;
  --blue: #1546BF;
  --lightblue: #96FFCA;
  --red: #FB6542;
  --lila: #621BC1;


  --fw-400: 400;
  --fw-700: 700;
}

body {
  background-color: var(--main-black);
  color: #fff;

  font-family: 'Montserrat', arial, sans-serif;
  font-weight: var(--fw-400);
}

h1 {
  font-size: 4.5rem;
  font-weight: var(--fw-400);

  grid-area: text;
}

h2,
header nav a,
header nav + a {
  text-transform: uppercase;
  letter-spacing: 3px;  
}

h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
}

header nav a,
header nav + a{
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: var(--red);
}

header a:hover,
footer a:hover {
  text-decoration: underline;
}

/*--- Navigation ---*/
nav ul {
  display: flex;
  padding: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  margin-right: 1.5em;
}

nav ul li:last-of-type a {
  margin-right: 0;
}

/*--- Header ---*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 100;

  background: rgba(255, 255, 255, .2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.header_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*--- Main ---*/
section {
  min-height: 100vh;
  display: flex;
  padding-top: 5em;
  padding-bottom: 4em;
}
section:nth-of-type(2n) {
  background-color: var(--bc-lightblue);
  color: var(--main-black);
}

/*--- Section Who---*/
.who {
  display: flex;
  justify-content: center;
  align-items: center;
}
.who_container {
  max-width: 60vw;
  margin-inline: auto;
}

.who_header {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-areas: 
    "img text"
    "img desc";

  gap: 1em;
}

.who_header img{
  grid-area: img;
  min-width: 400px;
  box-shadow: 5px 5px 10px rgba(255,255,255,0.15);
  margin-right: 1em;

  position: relative;
  z-index: 10;

}

.who_header h1 span {
  font-weight: var(--fw-700);
}

.who_header p {
  font-size: 1.5rem;
  font-weight: var(--fw-400);
  text-align: right;
  background-color: var(--red);

  grid-column: 1/-1;
  grid-row: 2;
  position: relative;

  left: -1.5em;
  width: calc(100% + 1.5em);

  padding: .5em;
  margin-bottom: 1.5em;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}


/*--- What i do ---*/
.what {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.what h3{
  margin-bottom: 1.5em;
}




/*--- Education & Skill ---*/
.skill {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill h2 {
  margin-bottom: 3em;
}

.skill_container-edu{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  border-right: 3px solid rgba(50, 50, 50, 0.2);
}

.skill_container-edu p {
  font-size: 1.1rem;
}

.skill_container-skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.skill_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill_icon img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

/*--- Portfolio Section ---*/
.work_choose {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 3rem;
}

.work_choose-card {
  margin-inline: .5em;
  background-color: #fff;
  border-radius: .5em;
  transition: all 0.5s ease-in-out;

  cursor: pointer;

  padding: .5em 1.5em;
  border: none;
  text-transform: uppercase;
}

.work_choose-card:hover,
.work_choose-card:focus {
  background-color: var(--red);
  color: #fff;
}





.work_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.work_card {
  background-color: white;
  padding: 2em .5em;
  border-radius: 8px;
}

.work_card-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.work_card-hero p {
  background-color: #fff;
  padding: .5em;
  border-radius: 7px 7px 0 0;
  position: absolute;
  top: -35px
}

.work_card-desc {
    margin: 2em 0;
    text-align: center;
}



/*--- Section Contact ---*/
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.form-container {
  max-width: 60vw;
  margin-inline: auto;
}

.contact_tel-email {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 3rem;
  margin-bottom: 3rem;
}

.contact_tel {
  margin-right: 10px;
}

.contact_tel,
.contact_email{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1em;
  background-color: #fff;
  border-radius: 20px;

  width: calc(50% - 5px);
}

.contact_tel i,
.contact_email i{
  font-size: 1.5em;
  color: black;
  margin-right: .5em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form > input,
form textarea {
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  padding: 20px;
  width: 100%;
}

textarea {
  resize: none;
}



.form_btn {
  border: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  align-self: center;
  cursor: pointer;
  padding: 20px;
  border-radius: 5px;
}


/*--- Footer ---*/
footer {
  background-color: var(--bc-lightblue);
}

.footer_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  color: var(--main-black);
}
