/*--- Global ---*/
:root {
  --main-black: #303030;
  --bc-lightblue: #dfdfdf;
  --red: #FB6542;
 
  --bs: 5px 5px 10px rgba(0,0,0,0.15),
        2px 2px 4px rgba(0,0,0,0.10);

  --fw-400: 400;
  --fw-700: 700;

}

body {
  background-color: var(--bc-lightblue);
  color: var(--main-black);

  font-family: 'Montserrat', arial, sans-serif;
  font-weight: var(--fw-400);

}

p{
  font-size: 1.2rem;
}

h1 {
  margin-top: 1rem;
  font-size: 4.5rem;
  font-weight: var(--fw-400);
  line-height: 1.3;
  grid-area: text;
  position: relative
}

h2,
header nav a,
header nav + a {
  text-transform: uppercase;
  letter-spacing: 3px;  
}

h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
}

h3,
header nav a,
header nav + a{
  font-size: 1.5em;
  font-weight: var(--fw-700);
}

header a {
  color: var(--red);
}

a {
  text-decoration: none;
  color: black;
}

nav a{
  position: relative;
  
}

nav a:before {
  display: flex;
  align-self: center;
  content: '';
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: var(--main-black);
  position: absolute;
  z-index: -10;
  top: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition:all 300ms;
}

@media screen and (min-width: 1024px) {
  nav a:hover:before{
    top: -7px;
    width: 45px;
    height: 45px;
    
  }
  footer a:hover {
    text-decoration: underline;
  }
}


[href="#contact"] {
  transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 1024px) {
  [href="#contact"]:hover{
    transform: scale(1.2);
  }

}

/*--- Navigation ---*/
nav ul {
  display: flex;
  padding: 0;
}

nav ul li {
  list-style: none;
  margin-right: 10px;
}

nav ul li a {
  padding: 0 .5em;
}

nav ul li:last-of-type{
  margin-right: 0;
}

/*--- Header ---*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 100;

  background: rgba(255, 255, 255, .2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);

  height: 75px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.header_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*--- Humburger Menu ---*/

#hamburger-menu{
  display: none;
  height: 30px;
  position: relative;
  width: 30px;
  cursor: pointer;
}

#hamburger-menu span{
  background-color: var(--red);
  display: block;
  height: 5px;
  margin-bottom: 4px;
  margin-right: 5px;
  border-radius: 15px;
  position: absolute;
  transition: all 300ms;
  width: 30px;
}


#hamburger-menu span:nth-child(2) {
  top: 10px;
}

#hamburger-menu span:last-child {
  bottom: 0;
}

.mobile_menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  #hamburger-menu {
    display: flex;
  }

  .nav-open #hamburger-menu span:nth-child(2) {
    display:none;
  }
  
  .nav-open #hamburger-menu span:first-child {
    transform: rotate(405deg);
    top: 13px;
  }
  
  .nav-open #hamburger-menu span:last-child {
    transform: rotate(-405deg);
    bottom: 8px;
  }

  .nav-open .mobile_menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
  
    background-color: var(--main-black);
  }
  
  .nav-open .mobile_menu ul{
    height: 100%;
    margin: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .nav-open .mobile_menu ul li {
    margin-right: 0;
  }
  
  .nav-open .mobile_menu ul li a {
    font-size: 4rem;
    font-weight: var(--fw-700);
  }
  
  /*.nav-open .mobile_menu ul li a:hover{
    color: #fff;
    text-decoration: none;
  }*/
  

  header nav,
  header nav+a {
    display: none;
  }

}

/*--- Main ---*/
section {
  min-height: 100vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
section:nth-of-type(2n) {
  background-color: var(--main-black);
  color: #fff;
}

.flex-center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overflow-hidden {
  overflow: hidden;
}

.triangle {
  border-bottom: 80px solid var(--main-black);
  border-right: 100vw solid transparent;
  height: 80px;
}


.triangle2 {
  border-top: 80px solid var(--main-black);
  border-left: 100vw  solid transparent;
  height: 80px;
}

.triangle3 {
  border-bottom: 80px solid var(--main-black);
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}

/*--- Section Intro---*/

.intro_header {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: auto 100px;
  grid-template-areas: 
    "img text"
    "img desc";

  gap: 1em;
}

.intro_header img{
  grid-area: img;
  min-width: 400px;
  box-shadow: var(--bs);
  margin-right: 1em;

  position: relative;
  z-index: 10;

}

.intro_accient {
  font-weight: var(--fw-700);
  color: var(--red)
}

.i-punkt-orange,
.i-punkt-black {
  position: relative;
}

.i-punkt-orange:before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--red);
  top: 15px;
  left: 5px;
}

.i-punkt-black:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: black;
  top: 12px;
  left: 3px;
}

.intro_header p {
  font-size: 1.5rem;
  font-weight: var(--fw-400);
  text-align: right;
  background-color: var(--red);

  grid-column: 1/-1;
  grid-row: 2;
  position: relative;

  left: -1.5em;
  width: calc(100% + 1.5em);

  padding: .5em;
  margin-bottom: 1.5em;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}



/*--- What i do ---*/
.what {
  text-align: center;
}

.what h3{
  margin-bottom: 1.5em;
}

/*--- Who i am ---*/
.who {
  max-width: 1000px;
  width: 80%;
  margin-inline: auto;
}

.who > div{
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-column-gap: 2em;
  grid-template-areas :
      "title img"
      "subtitle img"
      "text img";
  
}
.who_title {
  grid-area: title;
  margin-bottom: 1rem;
  text-align: left;
}

.who_subtitle {
  background-color: var(--red);
  grid-area: subtitle;
  grid-column: 1 / -1;
  
  position: relative;
  left: -1em;
  padding: .5em 1em;

  width: calc(100% + 2em);

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.who_text {
  grid-area: text;
  margin-top: 2em;
  width: 80%;
}

.who_text p:nth-of-type(1) {
  margin-bottom: 1em;
}

.who_img {
  grid-area: img;
  box-shadow: var(--bs);
  position: relative;
  z-index: 10;
}




/*--- Education & Skill ---*/
.skill_container-edu{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  border-right: 3px solid rgba(0, 0, 0, 0.2);
}

.skill_container-edu > div {
  margin-bottom: 1em;
}

.skill_container-edu > div:last-of-type {
  margin-bottom: 0;
}

.skill_container-edu p {
  font-size: 1.1rem;
}

.skill_container-skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.skill_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill_icon img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

/*--- Portfolio Section ---*/


.work_choose {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 3rem;
}

.work_choose-card {
  margin: 0 .5em .5em;
  background-color: #fff;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;

  cursor: pointer;

  padding: 8px 24px;
  border: none;
  text-transform: uppercase;
}

.choose-active {
  background-color: var(--red);
  color: #fff;
}

/*
@media screen and (min-width: 1024px){
  .work_choose-card:hover,
  .work_choose-card:focus {
    background-color: var(--red);
    color: #fff;
  }
}*/

.work_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.work_card-img{
  aspect-ratio: 4/3;
}

.work_card-img img{
  object-fit: cover;
  -o-object-fit: cover;
  height: 100%;
}

.work_card {
  background-color: white;
  padding: 2em 1em;
  border-radius: 15px;
}

.work_card-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.work_card-hero p {
  background-color: #fff;
  padding: .5em;
  border-radius: 7px 7px 0 0;
  position: absolute;
  top: -35px
}

.work_card-desc {
    margin: 2em 0;
    text-align: center;
}

.work_links{
  display: flex;
  justify-content: center;
  align-items: center;
}

.work_links i{
  font-size: 2rem;
  margin: 0 1rem;
}


@media screen and (min-width: 1024px){
  .work_links i:hover {
    color: var(--red)
  }

}



/*--- Section Contact ---*/
.form-container {
  max-width: 670px;
  width: 95%;
  margin-inline: auto;
}

.contact_tel-email {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 3rem;
  margin-bottom: 3rem;
}

.contact_tel {
  margin-right: 10px;
}

.contact_tel,
.contact_email{
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 15px;
  padding: 1em 0;
  background-color: #fff;

  width: calc(50% - 5px);
}

.contact_tel i,
.contact_email i{
  font-size: 1.5em;
  color: black;
  margin-right: .5em;
}

@media screen and (min-width: 1024px){
  .contact_tel a:hover,
  .contact_tel a:focus,
  .contact_email a:hover,
  .contact_email a:focus {
    color: var(--red);
  }

}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form > input,
form textarea {
  margin-bottom: 1rem;
  border-radius: 15px;
  border: none;
  padding: 20px;
  width: 100%;
}

textarea {
  resize: none;
}

.form_btn {
  width:50%;
  background-color: #fff;
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  align-self: center;
  cursor: pointer;
  padding: 20px; 

  transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 1024px){
  .form_btn:focus,
  .form_btn:hover {
    background-color: var(--red);
    color: #fff;
  }

}

/*---Link fixed---*/
.link-fixed {
  color: var(--red);
  font-size: 2rem;
}


/*--- Footer ---*/
footer {
  background-color: var(--bc-lightblue);
}

.footer_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  color: var(--main-black);
}


/*--- Media quiery ---*/

@media screen and (max-width: 940px) {
  .nav-open .mobile_menu ul li a {
    font-size: 3rem;
  }

  .intro_header {
    grid-template-columns: min-content;
    grid-template-rows: auto;
    grid-template-areas: 
        "text"
        "desc"
        "img";
    justify-content: center;
    width: 95%;
  }

  .intro_header p{
    width: max-content;
    left:0;
    justify-content:flex-start;
  }

  .intro_header img{
    margin-right: 0;
  }

  .what .row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .what .row .col-4 {
    width: 50%;
    margin-bottom: 2em;
  }

  .skill .row{
    flex-direction: column;
  }

  .skill .row .col-6 {
    width: 100%;
  }

  .skill_container-edu{
    border: none;
    text-align: center;
    margin-bottom: 3rem;
  }

  .work_grid {
    grid-template-columns: 1fr 1fr;
  }

  .contact_tel-email {
    flex-direction: column;
  }

  .contact_tel-email > div {
    width: 100%;
    margin: 0;
    margin-bottom: 1em
  }

  .form_btn {
    width: 100%;
  }


}

@media screen and (max-width: 767px) {
  .nav-open .mobile_menu ul li a {
    font-size: 2rem;
  }

  .who > div{
    grid-template-columns: 1fr;
    grid-template-areas: 
        "title"
        "subtitle"
        "text"
        "img";
  }

  .who_subtitle {
    width: max-content;
    left: 0;
  }

  .who_img {
    width: 80%;
    margin-inline: auto;
  }

  .who_text {
    grid-area: text;
    margin-top: 2em;
    width: 100%;
    margin-bottom: 2rem;
  }

  .who_subtitle{
    width: fit-content;
  }

  .what .row .col-4 {
    width: 100%;
  }

  .skill_container-skills{
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }

  .work_grid {
    grid-template-columns: 80%;
    justify-content: center;
  }


}

@media screen and (max-width: 590px) {
  .footer_flex {
    flex-direction: column;
  }
  .work_grid {
    grid-template-columns: 100%;
  }

  .intro_header img {
    min-width: 280px;
  }

  nav ul{
    flex-wrap: wrap;
  }

  footer nav ul {
    margin-bottom: 0;
  }
}

/*--- Imprint ---*/
.imprint {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.imprint h1 {
  text-transform: uppercase;
}

/*--- Scrollbar ---*/
/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
body::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display:none;
}