/*--- Global ---*/
:root {
  --main-black: #1c1c1c;

  --bc-lightblue: #edf2f8;

  --fc-red: rgb(97, 17, 17);

  --fw-400: 400;
  --fw-700: 700;
}

body {
  background-color: var(--main-black);
  color: #fff;

  font-family: 'Montserrat', arial, sans-serif;
  font-weight: var(--fw-700);
}

h2,
header nav a,
header nav + a {
  text-transform: uppercase;
  letter-spacing: 3px;  
}

h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
}

header nav a,
header nav + a{
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: var(--fc-red);
}

header a:hover,
footer a:hover {
  text-decoration: underline;
}

/*--- Navigation ---*/
nav ul {
  display: flex;
  padding: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  margin-right: 1.5em;
}

nav ul li:last-of-type a {
  margin-right: 0;
}

/*--- Header ---*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background: rgba(255, 255, 255, .2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.header_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/*--- Main ---*/
section {
  min-height: 100vh;
  display: flex;
}
section:nth-of-type(2n) {
  background-color: var(--bc-lightblue);
  color: var(--main-black);
}

/*--- Section Who---*/

.who_skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 100vh;
  padding-right: 2em;
  padding-top: 4em;
}

.who_skills img{
  width: 75px;
  background: white;
  border-radius: 50%;
  padding: .5em;
  box-shadow: inset 0 0 12px rgba(0,0,0,.9);
  
}

.who_skills img:nth-of-type(1){
  width: 125px;
  
}

.who_skills img:nth-of-type(2){
  width: 150px;
  margin-right: 3em;
}

.who_img{
  align-self: center;
  
  border-radius: 50%;
}
.who_img img{
  object-fit: cover;
  background-color: white;
  width: 150px;
  height: 150px;
}

/*--- Section Contact ---*/
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.form-container {
  max-width: 50vw;
}

.contact_tel-email {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 3rem;
  margin-bottom: 3rem;
}

.contact_tel {
  margin-right: 10px;
}

.contact_tel,
.contact_email{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1em;
  background-color: #fff;
  border-radius: 20px;

  width: calc(50% - 5px);
}

.contact_tel img,
.contact_email img{
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}

form > input,
form textarea {
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  padding: 20px;
}

textarea {
  resize: none;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
}

.form_btn {
  border: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  align-self: center;
  cursor: pointer;
  padding: 20px;
  border-radius: 5px;
}


/*--- Footer ---*/
footer {
  background-color: var(--bc-lightblue);
}

.footer_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  color: var(--main-black);
}
